# IME and non-roman fonts support
export LC_ALL=zh_CN.UTF-8
export GTK_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export QT_IM_MODULE=fcitx
eval "$(dbus-launch --sh-syntax --exit-with-session)"
exec fcitx &
#nm-applet &
